// Media-queries

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop-sm: 1023px;
$breakpoint-laptop-m: 1280px;

// Colors

$primary-color: #fac344;
$subtitles-color: #8f8f8f;
$input-bg-color: #f2f2f2;
