#main-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  background: url(./../assets/images/imagebkg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.background-image {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.main-pizza {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
}
