@import './../../../../assets/scss/_variables.scss';

section {
  position: relative;
  width: 100%;
  height: 100%;
}

.store-product {
  width: 100%;
  height: 100%;

  img {
    margin: -40px;
    width: 46vw;
    height: 70vh;
  }

}

.menu-info {
  flex-wrap: wrap;
  .menu {
    margin-top: 3rem;
    ul:hover {
      background-color: $primary-color;
    }
  }
  .see-more{
    display: block;
    background-color: $primary-color;
    margin-top: 3rem;
  }
  .see-more:hover{
    cursor: not-allowed;
  }
}

.store-info {
  h1 {
    font-family: CopperplateRegular;
    text-align: center;
  }

  h3 {
    font-family: MinionBoldItalic;
    text-align: center;
  }
}

.background-image {
  filter: blur(5px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0.09;
}

.menu-info {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  ul li button {
    width: 100%;
  }
}

::ng-deep .cdk-overlay-pane {
  width: 100% !important;
  height: 100% !important;
  max-width: 90vw !important;
}

@media screen and (max-width:$breakpoint-laptop-sm) {
  ::ng-deep .cdk-overlay-pane {
    max-height: 60vh !important;
  }

  .store-product {
    display: none;
  }

  .store-info {
    height: 100%;
    h1 {
      margin-top: 20px;
      text-transform: uppercase;
      text-align: center;
      font-size: 4vw;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 3.5vw;
      font-weight: normal;
      margin-bottom: 20px;
    }

    p {
      font-style: italic;
      margin-bottom: 20px;
    }
  }

  .background-image {
    width: 100%;
    z-index: 1;
  }

  .menu{
    z-index: 2;
  }

}

@media screen and (min-width:$breakpoint-laptop-sm) {

  section {
    display: flex;
    justify-content: center;
  }

  ::ng-deep .cdk-overlay-pane {
    max-height: 65vh !important;
  }

  .store-product {
    width: 50%;
  }

  .store-info {
    width: 50%;
    padding: 25px;

    h1 {
      margin-top: 20px;
      text-transform: uppercase;
      text-align: center;
      font-size: 2vw;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 1.5vw;
      font-weight: normal;
      margin-bottom: 20px;
    }

    p {
      font-style: italic;
      margin-bottom: 20px;
    }

    .menu-info {
      position: absolute;
      right: -15px;
      width: 50%;
      z-index: 2;

      .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        ul {
          width: 60%;
          // margin: 5px 5px;
        }
      }
    }
  }
}

// @media screen and (min-width:$breakpoint-laptop-m) {

//   .store-info {
//     .menu-info {
//       .menu {
//         ul {
//           width: 45%;
//           margin: 5px 5px;
//         }
//       }
//     }
//   }
// }
