footer {
  position: fixed;
  bottom: 0px;
  right: 0;
  min-width: 50vw;
  max-width: 40vw;
  float: right;
  background-color: hsl(0deg 0% 12%);
  max-height: 10vh;
  display: flex;
  justify-content: space-between;
}

footer i {
  color: white;
  font-size: 30px;
  margin: 20px 0 0 10px;
  transition: all .3s;
}

footer i:hover {
  color: hsl(42deg 91% 66%)
}

#social-media {
  margin-left: 10%;
}

footer img {
  max-width: 65px;
  padding: 20px 0;
  margin-right: 50px;
}
